
/* Large devices (laptops/desktops, 1000px and up) */
@media only screen and (min-width: 1000px) {

    #menu-button {
        display: none;
    }

    .nav-items {
        display: inline-flex;
        justify-content: flex-end;
        gap: 0px;
        padding: 0px;
        margin-bottom: -1px;
        position: fixed;
        top: 0px;
        right: 0px;
    }

    .nav-items a {
        text-decoration: none;
        color: #C1A25E;
        font-size: 1.2rem;
        line-height: 68.9px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .nav-items a:hover {
        border-bottom: white 2px solid;
        line-height: 66.9px;
    }

}

@media only screen and (min-width: 1100px) {
    
    #home-title {
        font-size: 2.1rem;
    }

}

@media only screen and (min-width: 1200px) {
    
    #home-title {
        font-size: 2.3rem;
    }

}

@media only screen and (min-width: 1400px) {
    
    #home-title {
        font-size: 2.6rem;
    }

}