<!doctype html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <title>Lux Auto Tint | About Us</title>
    <meta name="description" content="Contact page.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#090909" />
    <link type="image/png" sizes="32x32" rel="icon" href="../favicon.png">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/main3.css">
    <link rel="stylesheet" href="../css/medium.css">
    <link rel="stylesheet" href="../css/large.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>
<!-- Google tag for google analytics (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-94BF6848C0"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-94BF6848C0');
</script>

<body>
    <header>
        <h2>LUX AUTO TINT</h2>
        <img id="menu-button" src="../images/menu.svg" alt="menu button">
        <nav class="nav-items">
            <a href="../index.html">HOME</a>
            <a href="../views/services-and-pricing.html">PRICING</a>
            <a href="../views/gallery.html">GALLERY</a>
            <a href="../views/about.html">ABOUT</a>
            <a id="active" href="../views/contact.html">CONTACT</a>
        </nav>
    </header>
    <main id="about-main">

        <div id="side-nav-div" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" id="nav-close-btn">&times;</a>
            <a href="../index.html">HOME</a>
            <a href="../views/services-and-pricing.html">PRICING</a>
            <a href="../views/gallery.html">GALLERY</a>
            <a href="../views/about.html">ABOUT</a>
            <a id="active" href="../views/contact.html">CONTACT</a>
        </div>

        <div id="about-us-grid-container-div">
            <div>
                <h1>About Us</h1>

                <p>Welcome to Lux Auto Tint, where we turn ordinary rides into extraordinary experiences.</p>

                <h2>Our Story</h2>
                <p>
                    Founded by Brayan Garcia, Lux Auto Tint was born out of a passion for both cars and craftsmanship.
                    Brayan's journey in auto tinting began
                    during his time at Safelite Auto Glass. When Safelite discontinued their auto tinting services,
                    Brayan seized the opportunity to carry on
                    the tradition of delivering exceptional quality work. Brayan's deep knowledge of automotive
                    aesthetics and dedication to quality workmanship
                    set the foundation for our business.
                </p>

                <h2>The Lux Experience</h2>
                <p>
                    At Lux Auto Tint, we believe that your vehicle deserves the best. We are
                    committed to providing top-notch window
                    tinting services that not only enhance the look of your car but also offer practical benefits such
                    as UV protection, heat reduction, and
                    increased privacy.
                </p>

                <h2>What Sets Us Apart</h2>
                <p>
                    <span><strong>Expertise:</strong></span>
                    With years of experience in the industry, we have mastered the art of auto tinting. You can trust us
                    to deliver exceptional
                    results every time.
                </p>
                <p>
                    <span><strong>Quality Materials:</strong></span>
                    We only use premium, industry-leading materials to ensure your tint looks great and lasts for years
                    to come.
                </p>
                <p>
                    <span><strong>Personalized Service:</strong></span>
                    We understand that every vehicle and owner is unique. That's why we take the time to listen to your
                    preferences
                    and tailor our services to meet your specific needs.
                </p>

                <h2>Our Commitment</h2>
                <p>
                    We are dedicated to not only meeting but exceeding your expectations. Your satisfaction is our
                    priority, and we take pride in the trust
                    our clients place in us.
                </p>

                <h2>Visit Us</h2>
                <p>
                    Stop by Lux Auto Tint today and experience the difference for yourself. We look forward to welcoming
                    you into the Lux family!
                </p>

            </div>
            <img class="about-us-photo" src="../images/brayan2.jpeg">
        </div>


    </main>

    <footer>
        <p>Contact us to schedule your appointment!</p>
        <div class="button-div"><button><a href="./contact.html">Contact Us</a></button></div>
        <p>Find us on social media!</p>
        <div class="social-media">
            <a href="https://www.instagram.com/lux_auto_tint/" target="_blank"><img
                    src="../images/plain-instagram-logo.svg"></a>
            <a href="https://www.facebook.com/people/Lux-Auto-Tint/100090584660021/" target="_blank"><img
                    src="../images/plain-facebook-logo.svg"></a>
        </div>
    </footer>

    <script src="../js/main.js"></script>

</body>

</html>