<!doctype html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <title>Lux Auto Tint | About Us</title>
    <meta name="description" content="Contact page.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#090909"/>
    <link type="image/png" sizes="32x32" rel="icon" href="../favicon.png">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/main2.css">
    <link rel="stylesheet" href="../css/medium.css">
    <link rel="stylesheet" href="../css/large.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<!-- Google tag for google analytics (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-94BF6848C0"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-94BF6848C0');
</script>

<body>
    <header>
        <h2>LUX AUTO TINT</h2>
        <img id="menu-button" src="../images/menu.svg" alt="menu button">
        <nav class="nav-items">
            <a href="../index.html">HOME</a>
            <a href="../views/services-and-pricing.html">PRICING</a>
            <a href="../views/gallery.html">GALLERY</a>
            <a href="../views/about.html">ABOUT</a>
            <a id="active" href="../views/contact.html">CONTACT</a>
        </nav>
    </header>
    <main id="about-main">

        <div id="side-nav-div" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" id="nav-close-btn">&times;</a>
            <a href="../index.html">HOME</a>
            <a href="../views/services-and-pricing.html">PRICING</a>
            <a href="../views/gallery.html">GALLERY</a>
            <a href="../views/about.html">ABOUT</a>
            <a id="active" href="../views/contact.html">CONTACT</a>
        </div>
    
        <div id="about-us-grid-container-div">
            <div>
                <h1>About Us</h1>
                <p>
                    Hello! My name is Brayan Garcia, I am the owner and operator of Lux Auto Tint. 
                    I started tinting cars while working at Safelite Auto Glass in Show Low. When Safelite 
                    stopped offering auto tinting, I saw an opportunity to continue the quality work myself. 
                    Lux Auto Tint is a new and growing business. I am dedicated to providing my customers with 
                    excellent service and tint. I only use the best high quality tint that will never fade or 
                    bubble. Please don’t hesitate to give me a call, I will be happy to answer any questions you 
                    have!
                </p>
            </div>
            <img class="about-us-photo" src="../images/brayan2.jpeg">
        </div>
            
    
        </main>

        <footer>
            <p>Contact us to schedule your appointment!</p>
            <div class="button-div"><button><a href="./contact.html">Contact Us</a></button></div>
            <p>Find us on social media!</p>
            <div class="social-media">
                <a href="https://www.instagram.com/lux_auto_tint/" target="_blank"><img src="../images/plain-instagram-logo.svg"></a>
                <a href="https://www.facebook.com/people/Lux-Auto-Tint/100090584660021/" target="_blank"><img src="../images/plain-facebook-logo.svg"></a>
            </div>
         </footer>

        <script src="../js/main.js"></script>

</body>

</html>