<!doctype html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <title>Lux Auto Tint | Gallery</title>
    <meta name="description" content="Gallery page.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#090909" />
    <link type="image/png" sizes="32x32" rel="icon" href="../favicon.png">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/main3.css">
    <link rel="stylesheet" href="../css/medium.css">
    <link rel="stylesheet" href="../css/large.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
</head>
<!-- Google tag for google analytics (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-94BF6848C0"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-94BF6848C0');
</script>

<body>
    <header>
        <h2>LUX AUTO TINT</h2>
        <img id="menu-button" src="../images/menu.svg" alt="menu button">
        <nav class="nav-items">
            <a href="../index.html">HOME</a>
            <a href="../views/services-and-pricing.html">PRICING</a>
            <a href="../views/gallery.html">GALLERY</a>
            <a href="../views/about.html">ABOUT</a>
            <a id="active" href="../views/contact.html">CONTACT</a>
        </nav>
    </header>
    <main id="gallery-main">

        <div id="side-nav-div" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" id="nav-close-btn">&times;</a>
            <a href="../index.html">HOME</a>
            <a href="../views/services-and-pricing.html">PRICING</a>
            <a href="../views/gallery.html">GALLERY</a>
            <a href="../views/about.html">ABOUT</a>
            <a id="active" href="../views/contact.html">CONTACT</a>
        </div>

        <h1>Photo Gallery</h1>

        <div class="gallery-img-container-div">

            <img class="gallery-img" src="../images/gallery/11-09-2023-outside-black-corvet.jpg">

            <img class="gallery-img" src="../images/gallery/07-02-2023-outside-red-toyota-truck.jpg">

            <img class="gallery-img" src="../images/gallery/11-09-2023-tan-gmc-truck.jpg">

            <img class="gallery-img" src="../images/gallery/11-09-2023-outside-red-tesla.jpg">

            <img class="gallery-img" src="../images/gallery/07-02-2023-outside-white-gmc-truck.jpg">

            <img class="gallery-img" src="../images/gallery/07-02-2023-inside-blueish-truck.jpg">

            <img class="gallery-img" src="../images/gallery/07-02-2023-inside-red-raptor.jpg">

            <img class="gallery-img" src="../images/gallery/07-02-2023-inside-dark-green-bronco.jpg">

            <img class="gallery-img" src="../images/gallery/07-02-2023-inside-red-with-white-strip-bronco.jpg">

            <img class="gallery-img" src="../images/gallery/07-02-2023-inside-white-raptor-truck.jpg">

            <img class="gallery-img" src="../images/gallery/07-02-2023-inside-tan-off-roading.jpg">

            <img class="gallery-img" src="../images/gallery/11-09-2023-inside-red-bronco.jpg">

            <img class="gallery-img" src="../images/gallery/11-09-2023-white-kia.jpg">

            <img class="gallery-img" src="../images/gallery/11-09-2023-outside-blue-gmc-truck.jpg">

            <img class="gallery-img" src="../images/gallery/11-09-2023-outside-red-mache.jpg">

            <img class="gallery-img" src="../images/gallery/07-02-2023-outside-black-bronco.jpg">

            <img class="gallery-img" src="../images/gallery/07-02-2023-outside-yellow-bug.jpg">

            <img class="gallery-img" src="../images/gallery/11-09-2023-outside-white-acura.jpg">

            <img class="gallery-img" src="../images/gallery/11-09-2023-outside-black-toyota-truck.jpg">

            <img class="gallery-img" src="../images/gallery/07-02-2023-inside-red-bug.jpg">

            <img class="gallery-img" src="../images/gallery/07-02-2023-outside-white-ram-truck-2500.jpg">

            <img class="gallery-img" src="../images/gallery/07-02-2023-inside-red-ford-suv.jpg">

            <img class="gallery-img" src="../images/gallery/07-02-2023-inside-red-ranger-truck.jpg">

            <img class="gallery-img" src="../images/gallery/07-02-2023-outside-dark-grey-suv.jpg">

            <img class="gallery-img" src="../images/gallery/07-02-2023-outside-red-ford-truck-f150.jpg">

            <img class="gallery-img" src="../images/gallery/11-09-2023-outside-black-range-rover.jpg">

            <img class="gallery-img" src="../images/gallery/07-02-2023-outside-silver-car.jpg">

            <img class="gallery-img" src="../images/gallery/07-02-2023-outside-white-chevy-truck.jpg">

            <img class="gallery-img" src="../images/gallery/07-02-2023-outside-white-f250-unisource-truck.jpg">

            <img class="gallery-img" src="../images/gallery/07-02-2023-outside-white-ram-truck.jpg">

            <img class="gallery-img" src="../images/gallery/07-02-2023-outside-white-suv.jpg">

            <img class="gallery-img" src="../images/gallery/mustang1.jpg">

            <img class="gallery-img" src="../images/gallery/black-chevy-truck-1.jpg">

            <img class="gallery-img" src="../images/gallery/fernados-ford-truck.jpg">

            <img class="gallery-img" src="../images/gallery/bronco-2.jpg">

            <img class="gallery-img" src="../images/gallery/white-ford-truck-crew-cab.jpg">

            <img class="gallery-img" src="../images/gallery/silver-ford-crew-cab.jpg">

            <img class="gallery-img" src="../images/gallery/white-ford-suv.jpeg">

            <img class="gallery-img" src="../images/gallery/black-ford-truck-2-door.jpg">

            <img class="gallery-img" src="../images/gallery/silver-f150-crew-cab.jpg">

            <img class="gallery-img" src="../images/gallery/grey-ford-suv.jpeg">

            <img class="gallery-img" src="../images/gallery/black-ford-suv.jpeg">

        </div>



    </main>

    <footer>
        <p>Contact us to schedule your appointment!</p>
        <div class="button-div"><button><a href="./contact.html">Contact Us</a></button></div>
        <p>Find us on social media!</p>
        <div class="social-media">
            <a href="https://www.instagram.com/lux_auto_tint/" target="_blank"><img
                    src="../images/plain-instagram-logo.svg"></a>
            <a href="https://www.facebook.com/people/Lux-Auto-Tint/100090584660021/" target="_blank"><img
                    src="../images/plain-facebook-logo.svg"></a>
        </div>
    </footer>

    <script src="../js/main.js"></script>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="../js/init-swiper.js"></script>

</body>

</html>