<!doctype html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <title>Services and Pricing</title>
    <meta name="description" content="Services and pricing page.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#090909"/>
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/medium.css">
    <link rel="stylesheet" href="../css/large.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <h2>LUX AUTO TINT</h2>
        <img id="menu-button" src="../images/menu.svg" alt="menu button">
        <nav class="nav-items">
            <a href="../index.html">HOME</a>
            <a href="../views/services-and-pricing.html">PRICING</a>
            <a href="../views/gallery.html">GALLERY</a>
            <a href="../views/about.html">ABOUT</a>
            <a id="active" href="../views/contact.html">CONTACT</a>
        </nav>
    </header>
    <main id="services-and-pricing-main">

        <div id="side-nav-div" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" id="nav-close-btn">&times;</a>
            <a href="../index.html">HOME</a>
            <a href="../views/services-and-pricing.html">PRICING</a>
            <a href="../views/gallery.html">GALLERY</a>
            <a href="../views/about.html">ABOUT</a>
            <a id="active" href="../views/contact.html">CONTACT</a>
        </div>
        
        <h1>Services and Pricing</h1>

        <div id="prices-div">
            <div>
                <p>Truck Standard Cab (2 door)</p>
                <p>$200</p>
            </div>
            <hr>
            <div>
                <p>Truck Crew Cab (4 door)</p>
                <p>$250</p>
            </div>
            <hr>
            <div>
                <p>SUV</p>
                <p>$275 - $350</p>
            </div>
            <hr>
            <div>
                <p>Van</p>
                <p>$300 - $350</p>
            </div>
            <hr>
            <div>
                <p>Jeep</p>
                <p>$300</p>
            </div>
            <hr>
            <div>
                <p>Sedan (4 Door Car)</p>
                <p>$250 - $300</p>
            </div>
            <hr>
            <div>
                <p>2 Front Windows</p>
                <p>$100 - $125</p>
            </div>
            <hr>
            <div>
                <p>Brow</p>
                <p>$35</p>
            </div>
            <hr>
            <div>
                <p>Scrape Old Tint (Per Window)</p>
                <p>$15</p>
            </div>
            <hr>
            <div>
                <p>Scrape Old Tint - Back Glass</p>
                <p>$65</p>
            </div>
            <hr>
        </div>

        <p>* We offer mobile tinting for no extra charge. We can come to you!</p>

    </main>
    
    <footer>
        <p>Contact us to schedule your appointment!</p>
        <div class="button-div"><button><a href="./contact.html">Contact Us</a></button></div>
        <p>Find us on social media!</p>
        <div class="social-media">
            <img src="../images/plain-instagram-logo.svg">
            <img src="../images/plain-facebook-logo.svg">
        </div>
     </footer>
    
    <script src="../js/main.js"></script>

</body>

</html>
