<!doctype html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <title>Lux Auto Tint | Pricing</title>
    <meta name="description" content="Services and pricing page.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#090909" />
    <link type="image/png" sizes="32x32" rel="icon" href="../favicon.png">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/main3.css">
    <link rel="stylesheet" href="../css/medium.css">
    <link rel="stylesheet" href="../css/large.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>
<!-- Google tag for google analytics (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-94BF6848C0"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-94BF6848C0');
</script>

<body>
    <header>
        <h2>LUX AUTO TINT</h2>
        <img id="menu-button" src="../images/menu.svg" alt="menu button">
        <nav class="nav-items">
            <a href="../index.html">HOME</a>
            <a href="../views/services-and-pricing.html">PRICING</a>
            <a href="../views/gallery.html">GALLERY</a>
            <a href="../views/about.html">ABOUT</a>
            <a id="active" href="../views/contact.html">CONTACT</a>
        </nav>
    </header>
    <main id="services-and-pricing-main">

        <div id="side-nav-div" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" id="nav-close-btn">&times;</a>
            <a href="../index.html">HOME</a>
            <a href="../views/services-and-pricing.html">PRICING</a>
            <a href="../views/gallery.html">GALLERY</a>
            <a href="../views/about.html">ABOUT</a>
            <a id="active" href="../views/contact.html">CONTACT</a>
        </div>

        <h1>Services and Pricing</h1>

        <div id="toggle-container-div">
            <div id="toggle-div">
                <p id="ceramic-label">Ceramic Tint</p>
                <p id="carbon-label" class="active-price-toggle">Carbon Tint</p>
            </div>
        </div>

        <div id="prices-div">
            <hr>
            <div>
                <p>Truck Standard Cab (2 door)</p>
                <div>
                    <p class="carbon-price">$200</p>
                    <p class="ceramic-price">$300</p>
                </div>
            </div>
            <hr>
            <div>
                <p>Truck Crew Cab (4 door)</p>
                <div>
                    <p class="carbon-price">$250</p>
                    <p class="ceramic-price">$350</p>
                </div>
            </div>
            <hr>
            <div>
                <p>SUV</p>
                <div>
                    <p class="carbon-price">$275 - $350</p>
                    <p class="ceramic-price">$375 - $450</p>
                </div>
            </div>
            <hr>
            <div>
                <p>Van</p>
                <div>
                    <p class="carbon-price">$300 - $350</p>
                    <p class="ceramic-price">$400 - $450</p>
                </div>
            </div>
            <hr>
            <div>
                <p>Jeep</p>
                <div>
                    <p class="carbon-price">$300</p>
                    <p class="ceramic-price">$400</p>
                </div>
            </div>
            <hr>
            <div>
                <p>Sedan (4 Door Car)</p>
                <div>
                    <p class="carbon-price">$250 - $300</p>
                    <p class="ceramic-price">$350 - $400</p>
                </div>
            </div>
            <hr>
            <div>
                <p>2 Front Windows</p>
                <div>
                    <p class="carbon-price">$125</p>
                    <p class="ceramic-price">$175</p>
                </div>
            </div>
            <hr>
            <div>
                <p>Full Windshield</p>
                <div>
                    <p class="carbon-price">$100</p>
                    <p class="ceramic-price">$150</p>
                </div>
            </div>
            <hr>
            <div>
                <p>Brow</p>
                <div>
                    <p>$35</p>
                </div>
            </div>
            <hr>
            <div>
                <p>Scrape Old Tint (Per Window)</p>
                <div>
                    <p>$15</p>
                </div>
            </div>
            <hr>
            <div>
                <p>Scrape Old Tint - Back Glass</p>
                <div>
                    <p>$65</p>
                </div>
            </div>
            <hr>
        </div>

    </main>

    <footer>
        <p>Contact us to schedule your appointment!</p>
        <div class="button-div"><button><a href="./contact.html">Contact Us</a></button></div>
        <p>Find us on social media!</p>
        <div class="social-media">
            <a href="https://www.instagram.com/lux_auto_tint/" target="_blank"><img
                    src="../images/plain-instagram-logo.svg"></a>
            <a href="https://www.facebook.com/people/Lux-Auto-Tint/100090584660021/" target="_blank"><img
                    src="../images/plain-facebook-logo.svg"></a>
        </div>
    </footer>

    <script src="../js/main.js"></script>
    <script src="../js/pricing.js"></script>

</body>

</html>